<%= form_with(model: @user, method: :patch) do |form| %>
      <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label(:username, 'New Username:')%>
    <%= form.text_field(:username, placeholder: @user.username, autofocus: true) %>
    <%= form.label(:password, 'New Password:') %>
    <%= form.password_field(:password, placeholder: 'some password') %>
    <%= form.label(:email, 'Email:') %>
    <%= form.email_field(:email, placeholder: @user.email) %>
    <%= form.submit 'Update user' %>
<% end %>
