<!-- Basic HTML Form handled by Rails

<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="user_username">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="user_password">
    <label for="email">Email:</label>
    <input type="text" name="user[email]" id="user_email">
    <input type="submit" name="submit" id="submit" value="Submit">
</form>

-->

<!-- form_tag version of New form
<%= form_tag('/users', method: 'post') do %>
 <%= label_tag('username', 'Username:') %>
 <%= text_field(:user, :username) %>
 <%= label_tag('password', 'Password:') %>
 <%= password_field(:user, :password) %>
 <%= label_tag('email', 'Email:') %>
 <%= email_field(:user, :email) %>
 <%= submit_tag('Create') %>
<% end %>

-->

<%= form_with(model: @user) do |form| %>
    <%= form.label(:username, 'Username:')%>
    <%= form.text_field(:username, autofocus: true) %>
    <%= form.label(:password, 'Password:') %>
    <%= form.password_field(:password, value: 'Password') %>
    <%= form.label(:email, 'Email:') %>
    <%= form.email_field(:email, placeholder: 'example@email.com') %>
    <%= form.submit 'Create user' %>
<% end %>


